    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>¿Por qué elegirnos?</h3>
          <p style="text-align: justify;">En Magno hemos desarrollado un SERVICIO que satisface las máximas exigencias de Higiene en
todo tipo de establecimientos. Combinando la más alta tecnología y productos de
primera marca con nuestros recursos humanos, estamos capacitados para brindar
soluciones de manera permanente a su necesidad de mantener un espacio LIMPIO y
AMENO de trabajo.<br>Ofrecemos  Mantenimiento de alfombras y servicios de Limpieza Integral a:</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-3 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-industry"></i>
              <div class="card-body">
                <h5 class="card-title">Empresas</h5>
                <p class="card-text">Grandes y medianas empresas comprometidas con el buen hacer y la transparencia, han solicitado nuestros servicios.</p>
                <!--<a href="#" class="readmore">Read more </a> -->
              </div>
            </div>
          </div>

          <div class="col-lg-3 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-home"></i>
              <div class="card-body">
                <h5 class="card-title">Particulares</h5>
                <p class="card-text">Nuestros clientes confían sus hogares a nosotros para dejarlos como nuevos, mientras ellos disfrutan de sus quehaceres y actividades.</p>
                <!--<a href="#" class="readmore">Read more </a> -->
              </div>
            </div>
          </div>

          <div class="col-lg-3 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-graduation-cap"></i>
              <div class="card-body">
                <h5 class="card-title">Colegios</h5>
                <p class="card-text">Hacemos que el lugar donde aprenden y crecen los personajes del futuro, sea un lugar limpio e higiénico.</p>
                <!--<a href="#" class="readmore">Read more </a> -->
              </div>
            </div>
          </div>

          <div class="col-lg-3 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-wrench"></i>
              <div class="card-body">
                <h5 class="card-title">Finales de obra</h5>
                <p class="card-text">Cuando un trabajo grande es finalizado, las empresas nos eligen para ultimar los detalles.</p>
                <!--<a href="#" class="readmore">Read more </a> -->
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">150</span>
            <p>Clientes</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3,500</span>
            <p>Lugares limpios</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">90,000</span>
            <p>Horas trabajadas</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">20</span>
            <p>Años en el rubro</p>
          </div>
  
        </div>

      </div>
    </section>