    <!--==========================
      Clients Section
    ============================-->
    <section id="clientsMagno" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Nuestros clientes</h3>
          <p>Empresas con una trayectoria muy grande, quienes nos eligen por nuestra seriedad y profesionalismo. Consideramos que nuestros clientes son la mejor garantía de nuestra profesionalidad.</p>
        </div>

        <div class="row no-gutters clientes-todo clearfix wow fadeInUp">
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo">
              <a href="http://www.cnym.com.ar/" target="_blank">
                <img src="assets/img/clients/client-1.png" class="img-fluid" alt=""> 
              </a>
            </div>
          </div>
       
        
       
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo"> 
              <a href="https://www.cignomdp.com/" target="_blank">
                <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
              </a>
            </div>
          </div>
        
      
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo">
              <a href="http://clubpueyrredon.com.ar/" target="_blank">
                <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
              </a>
            </div>
          </div>
        
        
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo">
              <a href="https://www.grupomerito.net/" target="_blank"> 
                <img src="assets/img/clients/client-4.png" class="img-fluid" alt=""> 
              </a>
            </div>
          </div>
        

        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo">
              <a href="https://www.upcndigital.org/" target="_blank">
               <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
              </a>
            </div>
          </div>
        

        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo">
              <a href="https://www.grupodugas.com.ar/" target="_blank">
                <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
              </a>
            </div>
          </div>
        

        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo">
              <a href="http://www.orengiayconforti.com/">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </a>
            </div>
          </div>
        

        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="clientes-magno-logo">
              <a href="http://www.expresoviados.com.ar/">
                <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
              </a>
            </div>
          </div>
          
        </div>

      </div>

    </section>