    <!--==========================
      About Us Section
    ============================-->
    <section id="aboutMagno">
      <div class="container">

        <header class="section-header">
          <h3>Acerca de Magno</h3>
          <p>Nuestro personal recibe capacitación profesional y los materiales de limpieza que
 se usan son adecuados para cada tipo de superficie, lo que asegura la limpieza idónea en
todas las áreas. Todo el trabajo es supervisado permanentemente.</p>
        </header>

        <div class="row about-contenedor">

          <div class="col-lg-6 contenido order-lg-1 order-2">
                        

            <div class="caja-about wow fadeInUp" data-wow-delay="0.2s">
              <div class="iconoAbout">
                <!-- <ion-icon name="man"></ion-icon>-->
                <i class="large material-icons">assignment_ind</i>
                </div>
              <h4 class="titulo"><a href="">Magno le soluciona:</a></h4>
              <p class="descripcion">No tener personal propio.<br>
                La facilidad de solicitar el cambio inmediato del personal que no le resulte grato.<br>
                Eliminar los problemas laborales.<br>
                Eliminar problemas de ausentismo, derivados de faltas, permisos y vacaciones.<br>
              Supervisión constante.</p>
            </div>

            <div class="caja-about wow fadeInUp">
              <div class="iconoAbout"><i class="large material-icons">assignment_turned_in</i><!-- <ion-icon name="checkmark"></ion-icon>--></div>
              <h4 class="titulo"><a href="">Ofrecemos</a></h4>
              <p class="descripcion">Mayor especialización.<br>
                Menores costos.<br>
                Mejor calidad final.<br>
              Mayor seguridad e higiene.<br>
            Mejor imagen (personal uniformado).</p>
            </div>

            <div class="caja-about wow fadeInUp" data-wow-delay="0.4s">
              <div class="iconoAbout"><i class="large material-icons">attach_money</i><!-- <ion-icon name="cash"></ion-icon>--></div>
              <h4 class="titulo"><a href="">Ahorre en su establecimiento</a></h4>
              <p class="descripcion">Tratando de crecer en el difícil mercado de hoy en día ajustamos los precios al máximo posible para competir lado a lado con grandes empresas del rubro
brindando el mejor servicio en relación precio-calidad siempre apuntando a satisfacer al cliente más exigente y día a día superarnos a nosotros mismos.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp d-sm-flex justify-content-center">
            <img src="assets/img/cleaning.png" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- #about -->