<!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Servicios</h3>
          
        </header>
        
        <!-- SERVICIOS INTEGRALES -->
            <header class="section-header row col-12 d-flex justify-content-center">
              <h2 class="col-12 d-flex justify-content-center">Servicios de limpieza integral</h2>
              <p class="col-12 d-flex justify-content-center">Nos encargamos de todo tipo de establecimientos</p>
              
            </header>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="large material-icons">location_city</i></div>
                <h4 class="title" style="text-align: center;"><a href="">Limpieza de oficinas, hogares, establecimientos y edificios</a></h4>
                <p class="description">Ningún lugar es un reto para nosotros. Ofrecemos un servicio de limpieza general. Puede confiar en Magno Servicios Integrales para dejar su oficina, departamento, hogar o establecimiento en un estado óptimo de limpieza e higiene. <br>
Podrá dedicarse de lleno a su empresa o quehaceres mientras Magno se encarga de mejorar su ambiente.</p>
            </div>
        </div>

        <div class="row">
            <header class="section-header row col-12 d-flex justify-content-center">
              <h2 class="col-12 d-flex justify-content-center">Limpieza de alfombras</h2>
              <p class="col-12 d-flex justify-content-center">En Magno contamos con la posibilidad de efectuar su limpieza por medio de tres procesos de lavado distintos.</p>
              
            </header>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box boxUp">
              <div class="icon"><i class="large material-icons">loop</i></div>
              <h4 class="title"><a href="">Sistema rotativo</a></h4>
              <p class="description">Éste es el sistema de lavado más tradiciona y antiguo, brinda la posibilidad de realizar un cepillado profundo de las fibras, abriéndolas y permitiendo remover la suciedad y las manchas más rebeldes.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box boxUp">
              <div class="icon"><i class="large material-icons">check</i></div>
              <h4 class="title"><a href="">Esponja seca</a></h4>
              <p class="description">El Sistema de Limpieza en Seco consiste en evitar el contacto directo del agua con la alfombra o los tapizados. Este sistema elimina tiempos de secado y humedad, es una limpieza menos agresiva y es inodora.</p>
            </div>
          </div>

          <div class="col-md-12 col-lg-10 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="large material-icons">star</i></div>
              <h4 class="title" style="text-align: center;"><a href="">Inyeccion y extraccion</a></h4>
              <p class="description">Éste otro sistema es un sistema de lavado americano por inyección y extracción con el cual se logra extraer toda suciedad, desde la base de la alfombra. Lo que permite realizar una limpieza profunda y un enjuague del 100% del producto aplicado.</p>
            </div>
          </div>
          
          

      </div>
      </div>
    </section><!-- #services -->